/*
* @Author: inksmallfrog
* @Date:   2017-04-24 07:32:17
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-24 08:29:05
*/
.grids-panel{
    width: 150px;
    height: 150px;
    line-height: 0;
    @at-root{
        .grid{
            &:before{
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            display: inline-block;
            width: 33.33%;
            height: 33.33%;
            border: 1px solid #999;
            box-sizing: border-box;
            text-align: center;
            user-select: none;
        }
    }
}
